[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "config/omf/themes/fishingline"]
	path = config/omf/themes/fishingline
	url = https://github.com/wdylanbibb/fishingline.git
[submodule "config/awesome/bling"]
	path = config/awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "config/awesome/rubato"]
	path = config/awesome/rubato
	url = https://github.com/andOrlando/rubato.git
